Flask-API
pylint
httpie
nose
rednose
pinocchio
coverage
codecov
amqp
Babel
billiard
celery
click
Flask
Flask-Migrate
Flask-Social
flask-bootstrap
flask-marshmallow
flask-restplus
flask-cors
flask-swagger
flasgger
foursquare
http://github.com/pythonforfacebook/facebook-sdk/tarball/master
google-api-python-client
python-twitter
oauth2client 
google-api-python-client
itsdangerous==0.24
Jinja2
kombu
MarkupSafe
pytz
redis
vine
werkzeug
msgpack-python==0.4.6
python-dateutil==2.4.2
psycopg2
psycopg2-binary
gunicorn==19.9.0
requests==2.14.2
six==1.9.0
SQLAlchemy
sqlalchemy-migrate
marshmallow-sqlalchemy
