@import '_base.scss';

.container {
    display: flex;
    flex-direction: column;
}

.tableBox {
    flex: 1;
    overflow-y: hidden;
}

.ctrlEle {
    color: $primary-color;
    cursor: pointer;
}
.highest {
    color: #ff0000;
}

.high {
    color: #ce1414;
}

.medium {
    color: #00b6ff;
}

.elevated {
    color: #ff8300; 
}

.mild {
    color: #2600ff;
}

.low {
    color: #00ff00;
}

.disaster {
    color: #ff0000;
}
